*{
    margin: 0;
    padding: 0;
}

.um{
    background-color: rgb(250,215,150);
    height: 500px;
    width: 500px;

    
}
.dois{
    background-color: rgb(35,145,248);
    height: 50%;
    width: 50%;
 
}
.tres{
    background-color:  rgb(223,63,63);
    height: 25%;
    width: 75%;
}
.quatro{
    background-color: rgb(139,245,174);
    height: 250px;
    width: 250px;
}
.cinco{
    background-color: red;font-size: 25px;font-family: monospace; font-weight: bold;
}

